.map {
    padding: 50px;

    @media (min-width: 1921px) {
        padding: 2.5vw;
    }

    display: flex;
    flex-direction: column;
    width: 100%;

    &__input-block {
        display: flex;
        flex-direction: column;
        margin-top: 22px;
    }

    &__input {
        width: 100%;
        border: none;
        border-bottom: 1px solid #82949F;
        height: 36px;

        @media (min-width: 1921px) {
            border-width: .05vw;
            height: 1.8vw;
        }

        &_title {
            font-size: 12px;
            line-height: 22px;
            color: #8494A1;

            @media (min-width: 1921px) {
                font-size: .6vw;
                line-height: 1.1vw;
            }
        }

        &:focus {
            outline: none;
        }
    }

    &__button {
        margin-top: 50px;
        height: 50px;
        width: 380px;
        border: none;
        font-size: 1rem;
        background-color: #3DABF7;
        color: #ffffff;
        transition: all 0.3s ease;

        &:active {
            transition: all 0.3s ease;
            scale: 1.03;
        }
    }

    &__yamap {
        padding: 50px 0 0 0;
        height: 40vh;

        @media (min-width: 1921px) {
            padding-top: 2.5vw;
        }
    }
}